html, body{
  margin: 0px;
  padding:0px;
  height:100%;
}

div.container {
  margin-top: 40px;
}

svg{
  position: absolute;
  height: 100%;
}

#svgwrapper{
  height:100%;
}

#svgwrapper div {
  z-index:3;
  position: absolute;
  border:2px solid steelblue;
  border-radius:5px;
  background-color: white;
}

input.edit{
  display:none;
  padding:0px;
  font-size:13px;
  width:100%;
  text-align:center;
}

.editing .name {
  display: none; /* Hides label text when .editing*/
}

.editing input.edit {
  display: inline;
  position:absolute; /* Shows input text box when .editing*/
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.btn{
  margin:0px 2px;
  padding:0px;
  float:left;
}
.name
{
  display:block;
  text-align:center;
  background: steelblue;
  color: #FFF;
}
