<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='./css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='./css/style.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="./js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="./js/underscore.js"></script>
    <script type="text/javascript" src="./js/backbone.js"></script>
    <script type="text/javascript" src="./js/backbone-relational.js"></script>
    <script type="text/javascript" src="./js/marionette.backbone.min.js"></script>
    <script type="text/javascript" src="./js/d3.v3.js" charset="utf-8">></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span3">
          <h2>JSON</h2>
          <ul id='json_structure'></ul>
        </div>
        <div class="span9">
          <div id="svgwrapper"></div>
          <svg id="networkwrapper"></svg>
        </div>
      </div>
    </div>
  <script id="JSONtemplate" type="text/template">
      <span class="jsonview_name"><%= args.name %></span>
      <span><button class="btn btn-primary btn-small showjson" >Show JSON</button></span>
      <textarea class="jsonview_data"><% print (args.jsondata); %></textarea>
  </script>
  <script id="nodeTemplate" type="text/template">
    <span class="name">
      <%= name %>
    </span>
    <input type="text" class="edit" value="<%- name %>">
    <button class="btn btn-small btn-link addchildren" type="button">
      <i class="icon-plus-sign"></i>
    </button>
    <button class="btn btn-small btn-link delete" href="#">
      <i class="icon-remove"></i>
    </button>
  </script>
  <script type="text/javascript" src="./js/app.js" charset="utf-8">></script>
</body>
</html>
