<html>
<head>
  <link href='./css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <style>
  input.edit{
      display:none;
  }
  .editing .name {
      display: none; /* Hides label text when .editing*/
  }
  .editing input.edit {
      display: inline; /* Shows input text box when .editing*/
  }
  </style>
  <script type="text/javascript" src="./js/jquery-1.10.1.js"></script>
  <script type="text/javascript" src="./js/underscore.js"></script>
  <script type="text/javascript" src="./js/backbone.js"></script>
  <script type="text/javascript" src="./js/backbone-relational.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div id="sidebar"><h2>Add/Remove Nodes</h2><ul id="nodelist"></ul></div>  
    </div>
    <div class="span8">
	<h2>JSON</h2>
	<div id='json_structure'></div>
    </div>
  </div>
</div>

  <script>
    //
    //-- Defining our collections
    //
    NodeCollection = Backbone.Collection.extend({
        model : Node,
        initialize: function() {
          this.on("add", function() {
            $json_structure.html( prettyPrint(this.toJSON()) );
          });

          this.on("remove",function() {
            $json_structure.html( prettyPrint(this.toJSON()) );
          });
        }
    });

    //
    //-- Defining our models
    //
    Node = Backbone.RelationalModel.extend({
      defaults : {
        'name' : ''
      },
      initialize: function() {
        network_coll.add(this);
        this.bind("add:children", function() {
          $json_structure.html( prettyPrint(network_coll.toJSON()) );
        });
	this.bind("change:name", function() {
          $json_structure.html( prettyPrint(network_coll.toJSON()) );
        });
      },

      relations: [{
        type: Backbone.HasMany,
        key: 'children',
        relatedModel: 'Node',
        reverseRelation: {
          key: 'parentNode',
          includeInJSON: false
        }
      }]
    });

    //
    //-- Defining our templates
    //
    var nodeTemplate = _.template('<span class="name"><%= name %></span><input type="text" class="edit" value="<%- name %>"><button class="btn btn-small btn-link addchildren" type="button">Add Children</button><button class="btn btn-small btn-link delete" href="#"><i class="icon-remove"></i></button>');
    
    //
    //-- Defining our views
    //
    NodeRow = Backbone.View.extend({
      //-- View to manipulate each single node
      tagName: 'li',
      events: {
        'click button.addchildren'  : 'addChildren',
        'click button.delete'       : 'remove',
	'dblclick .name': 'edit',
	'keypress .edit' : 'updateOnEnter',
        'blur .edit' : 'close'
      },

      initialize: function(){
        _.bindAll(this, 'render', 'remove', 'addChildren');

        this.model.bind('change', this.render);
        this.model.bind('remove', this.remove);
      },

      render: function(){
        $(this.el).html(nodeTemplate({'name':this.model.get('name')}));
	this.input = this.$('.edit');
        return this;
      },
      
      updateOnEnter: function(e){
        if(e.which == 13){
          this.close();
        }
      },
      
      close: function(){
        var value = this.input.val().trim();
        if(value) {
          this.model.set('name', value);
        }
        this.$el.removeClass('editing');
      },            
      
      edit: function(){
	this.$el.addClass('editing');
        this.input.focus();
      },
      
      remove: function(){
        if(network_coll.models.length > 1) {
          $(this.el).remove();
          this.model.destroy();
        }
      },

      addChildren: function(){
        this.model.get('children').add({'name' : 'Node'+network_coll.models.length});
      }
    });

    NodeList = Backbone.View.extend({
      //-- View to manipulate and display list of all nodes in collection
      el: $('#nodelist'),	
      initialize: function() {
        this.collection.bind('add', this.onModelAdded);
      },

      AddModel: function(){
        var tempNode = new Node({'name' : 'Node'+network_coll.models.length});
        
        var newNodeRow = new NodeRow({ model: tempNode });
        $('ul', this.el).append(newNodeRow.render().el);
      },

      onModelAdded: function(addedModel) {
        var newNodeRow = new NodeRow({ model: addedModel });
        $('ul',this.el).append(newNodeRow.render().el);
      }
    });

    //
    //-- Utilities / Helpers
    //

//-- Pretty Print JSON.
//-- @Karthik do you have a reference/source for this function?
function prettyPrint(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
	return '<span class="' + cls + '">' + match + '</span>';
    });
  }

    //
    //-- App init!
    //
    var $json_structure = $('#json_structure'),
        network_coll = new NodeCollection,
        MyNodeList = new NodeList({ collection: network_coll }),
        node = new Node({'name':'ROOT'});

    //-- TASKS / IDEAS:
    //-- Might be fun to have a 'autogenerate network with X nodes and X tiers' random function, not exactly
    //-- relevant to the exact task at hand but might make you more comertable with how to leverage this collection/model structure

    //-- To note, please look at the formatting differences I made, we want to make sure the code says clean (and to help with the fact that I need to read it)
    //-- (WILL DO)

    //-- (TODO) Question to ask yourself about network_coll.counter, do you really need it? Hint: http://puff.me.uk/ss/B0DvC.png.
    //-- (DONE) - Used network_coll.length to monitor number of models in the collection. I just have to ask, what is puff.me.uk? Some ftp server?
    //-- ALMOST THERE

    //-- (TODO) _ templates not in a big string but using a script

    //-- (TODO) - "smarter" name convention to suggest depth level as well
    //          - also currently parentNode == null so that will have to be fixed to 
    //          - to access parent

    //-- (TODO) - keep this.options around on node to act as a storage area for metadata

    //-- (TODO) - convert $json_structure.html() into d3 drawing

    //-- (TODO) - On click of d3 node, get the model repersentation of that in Backbone collection


    //-- AWESOME START!

</script>

</body>
</html>
